<a href="https://colab.research.google.com/github/Divyarajvs/Ineuron/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [5]:
lst=[1,2,3,4,5,6]

In [ ]:

def myreduce(num):
   add_val=0
   for i in num:
       add_val=add_val+i
        
   return add_val

myreduce(lst)

21

**With reduce()**

In [ ]:
from functools import reduce

reduce(lambda a,b: a+b,lst)

21

**1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()**

In [6]:
def calci(num):
  if num%2==0:
    return True



def myfilter(logicfun,listval):
      d=[]
      for i in listval:
        if(logicfun(i)==True):
        
          d.append(i)
      return d

z=myfilter(calci,lst)
print(z)

[2, 4, 6]

**With filter()**

In [7]:
z=list(filter(calci,lst))
z

[2, 4, 6]

2. **Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists**

**Code for the o/p ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']**

In [57]:
lst1=['x','y','z']

def class1(num):
    box=[]
    #val_z=''
    for i in num: 
      val_z=''
      for j in range(0,4):
        val_z=val_z+i
        box.append(val_z)
    return box
z=class1(lst1)
z

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

**Code for the o/p ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']**

In [101]:
def class2(num1):
    box1=[]
    val_z2=''
    for j in range(1,5):
          val_z2= ''
          for i in num1:
            val_z2= ''
            for k in range(0,j):
              val_z2= val_z2 + i
            box1.append(val_z2)
               
    return box1

z=class2(lst1)
z

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

**Code for the o/P [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]**

In [197]:
def fun(q1):
    bak=[]
    vax=''
    for i in q1:
       for j in range(0,1):
         for l in q1: 
           vax=(l,i)
           bak.append(vax)
    return bak

In [198]:
xq=[1,2,3]

d=fun(xq)
d

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]